* {
  padding: 0;
  margin : 0;
  border : 0;
}

*,
*:before,
*:after {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}


html,
body {
  height                  : 100%;
  width                   : 100%;
  font-size               : 100%;
  line-height             : 1;
  font-size               : 14px;
  -ms-text-size-adjust    : 100%;
  -moz-text-size-adjust   : 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.wrapper {
  width                : 80%;
  margin               : 200px auto 0;
  display              : grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-auto-rows       : 500px;
  /* align-items       : center; */
  grid-row-gap         : 20px;
  grid-column-gap      : 20px;
  text-align           : center;
  justify-content      : center;
  z-index              : 1;
}

.grid {
  border   : 2px solid black;
  width    : 100%;
  height   : 100%;
  /* height: 350px;
  width    : 200px; */
}

img {
  max-width : 80%;
  max-height: 70%;
}

.photo {
  height         : 70%;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

input[type=text] {
  border: 2px solid black;
}

.button1 {
  background-color: #4CAF50;
  font-size       : 15px;
  padding         : 10px 24px;
  border-radius   : 8px;
  transition      : 0.3s;
}

.button1:active {
  background-color: #3b8f3e;
  color           : white;
}

.button2 {
  background-color: red;
  font-size       : 15px;
  padding         : 10px 24px;
  border-radius   : 8px;
  transition      : 0.3s;
}

.button2:active {
  background-color: rgb(189, 4, 4);
  color           : white;
}

.bask {
  position        : fixed;
  padding-top     : 3%;
  top             : 10%;
  right           : 10%;
  align-items     : center;
  width           : 80%;
  height          : 80%;
  background-color: rgb(255, 255, 255);
  z-index         : 100;
  text-align      : center;
  overflow        : scroll;
  overflow-x      : hidden;
}

.buttonBask {
  background-color: white;
  color           : #3b8f3e;
  position        : fixed;
  right           : 5%;
  top             : 5%;
  font-size       : 50%;
  height          : 50px;
  width           : 50px;

}

.grid2 {
  color      : #000;
  width      : 100%;
  height     : 120px;
  display    : flex;
  border     : 2px solid #000;
  padding    : 0 10%;
  align-items: center;

}

.btnBask {
  position : absolute;
  right    : 0;
  top      : 0;
  font-size: 28px;
}

.photoMini {
  height     : 100%;
  width      : 30%;
  align-items: center;
  display    : flex;
  align-items: center;
}

.textCart {
  height         : 100%;
  width          : 20%;
  display        : grid;
  align-items    : center;
  justify-content: center;
}

.priceCart {
  height     : 100%;
  display    : flex;
  align-items: center;
  font-size  : 20px;
}

.warnWindowBack {
  width           : 100%;
  height          : 100%;
  background-color: rgba(121, 121, 121, 0.9);
  z-index         : 99;
  position        : fixed;
  left            : 0;
  top             : 0;


}

.warnWindow {
  padding-top     : 3%;
  align-items     : center;
  width           : 46%;
  height          : 49%;
  background-color: rgba(255, 255, 255);
  z-index         : 100;
  text-align      : center;
  color           : #000;
  justify-content : center;
  position        : absolute;
  text-align      : center;
  top             : 50%;
  left            : 50%;
  transform       : translate(-50%, -50%);
  font-size: 24px;
}

.backBask {
  width           : 100%;
  height          : 100%;
  background-color: rgba(121, 121, 121, 0.9);
  z-index         : 99;
  position        : fixed;
  left            : 0;
  top             : 0;
  display         : flex;
  flex-direction  : column;
}

.chngBtn {
  height       : 30px;
  width        : 30px;
  font-size    : 20px;
  border-radius: 80%
}

.plus {
  background-color: green;
}

.min {
  background: red;
}

.btnText {
  padding: 0 10px
}

.buttonsCart {
  height         : 100%;
  width          : 30%;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.btnRem {
  align-items: right;
  font-size  : 20px;
}

.inputHome {
  border: 2px solid black;

}

.inputCart {
  border: 2px solid black;
  width : 40px;
}